{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "trailingComma": "all",
  "endOfLine": "auto"
}
