@font-face {
  font-family: element-icons;
  src: url(iconfont.ttf) format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-email::before {
  content: '\e643';
}

.el-icon-alliance::before {
  content: '\e637';
}

.el-icon-server::before {
  content: '\e663';
}

.el-icon-tools::before {
  content: '\e638';
}

.el-icon-dashboard::before {
  content: '\e62d';
}
